# Jupyter Notebook Title

This Jupyter Notebook contains multiple cells with code and markdown content. It includes data manipulation using pandas, visualization using matplotlib, and documentation using markdown cells.

## Introduction

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [49]:
df  = pd.read_csv('datasets\projects_data.csv')
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\jose\AppData\Local\Temp\ipykernel_10884\162373680.py:1: SyntaxWarning: invalid escape sequence '\p'
  df  = pd.read_csv('datasets\projects_data.csv')
C:\Users\jose\AppData\Local\Temp\ipykernel_10884\162373680.py:1: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  df  = pd.read_csv('datasets\projects_data.csv')

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN

## Data

In [50]:
#show the columns
df.shape

(18248, 57)

In [51]:
# #delete unnamed column
# df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
# df.columns

In [52]:
#use delimiter to split string ; in column countryname maxsplit=1
df['countryname'] = df['countryname'].str.split(';', n=1).str[0]
df.head()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN

In [53]:

# keep only id	regionname	countryname	prodline	lendinginstr	lendinginstrtype	envassesmentcategorycode	supplementprojectflg	productlinetype	projectstatusdisplay	status	project_name	boardapprovaldate	board_approval_month	closingdate	lendprojectcost	ibrdcommamt	idacommamt	totalamt	grantamt	borrower	impagency	url
df = df[['id', 'regionname', 'countryname', 'prodline', 'lendinginstr', 'lendinginstrtype', 'envassesmentcategorycode', 'supplementprojectflg', 'productlinetype', 'projectstatusdisplay', 'status', 'project_name', 'boardapprovaldate', 'board_approval_month', 'closingdate', 'lendprojectcost', 'ibrdcommamt', 'idacommamt', 'totalamt', 'grantamt', 'borrower', 'impagency', 'url']]
df.head()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,board_approval_month,closingdate,lendprojectcost,ibrdcommamt,idacommamt,totalamt,grantamt,borrower,impagency,url
0,P162228,Other,World,RE,Investment Project Financing,IN,C,N,L,Active,...,June,NaN,"500,000",0,0,0,"500,000",NaN,NaN,http://projects.worldbank.org/P162228?lang=en
1,P163962,Africa,Democratic Republic of the Congo,PE,Investment Project Financing,IN,B,N,L,Active,...,June,2023-12-31T00:00:00Z,"200,000,000",0,"200,000,000","200,000,000",0,NaN,NaN,http://projects.worldbank.org/P163962?lang=en
2,P167672,South Asia,People's Republic of Bangladesh,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,June,NaN,"50,000,000",0,"58,330,000","58,330,000",0,NaN,NaN,http://projects.worldbank.org/P167672?lang=en
3,P158768,South Asia,Islamic Republic of Afghanistan,PE,Investment Project Financing,IN,A,N,L,Active,...,June,2023-06-28T00:00:00Z,"50,000,000",0,"20,000,000","20,000,000",0,IIST,IIST,http://projects.worldbank.org/P158768?lang=en
4,P161364,Africa,Federal Republic of Nigeria,PE,Investment Project Financing,IN,B,N,L,Active,...,June,2023-05-31T00:00:00Z,"100,000,000",0,"100,000,000","100,000,000",0,NaN,NaN,http://projects.worldbank.org/P161364?lang=en

In [54]:
#convert boardapprovaldate and closingdate to datetime
df['boardapprovaldate'] = pd.to_datetime(df['boardapprovaldate'])
df['closingdate'] = pd.to_datetime(df['closingdate'])
#check the data type
df.dtypes

id                                       object
regionname                               object
countryname                              object
prodline                                 object
lendinginstr                             object
lendinginstrtype                         object
envassesmentcategorycode                 object
supplementprojectflg                     object
productlinetype                          object
projectstatusdisplay                     object
status                                   object
project_name                             object
boardapprovaldate           datetime64[ns, UTC]
board_approval_month                     object
closingdate                 datetime64[ns, UTC]
lendprojectcost                          object
ibrdcommamt                              object
idacommamt                               object
totalamt                                 object
grantamt                                 object
borrower                                 object
impagency                                object
url                                      object
dtype: object

In [55]:
df['lendprojectcost'] = df['lendprojectcost'].str.replace(',', '').astype(float)
df['ibrdcommamt'] = df['ibrdcommamt'].str.replace(',', '').astype(float)
df['idacommamt'] = df['idacommamt'].str.replace(',', '').astype(float)
df['totalamt'] = df['totalamt'].str.replace(',', '').astype(float)
df['grantamt'] = df['grantamt'].str.replace(',', '').astype(float)

In [56]:
#check data type
df.dtypes

id                                       object
regionname                               object
countryname                              object
prodline                                 object
lendinginstr                             object
lendinginstrtype                         object
envassesmentcategorycode                 object
supplementprojectflg                     object
productlinetype                          object
projectstatusdisplay                     object
status                                   object
project_name                             object
boardapprovaldate           datetime64[ns, UTC]
board_approval_month                     object
closingdate                 datetime64[ns, UTC]
lendprojectcost                         float64
ibrdcommamt                             float64
idacommamt                              float64
totalamt                                float64
grantamt                                float64
borrower                                 object
impagency                                object
url                                      object
dtype: object

## resolve missing values

In [57]:
#check missing values
df.isnull().sum()

id                             0
regionname                     0
countryname                    0
prodline                       0
lendinginstr                 246
lendinginstrtype             246
envassesmentcategorycode    5811
supplementprojectflg          53
productlinetype                0
projectstatusdisplay           4
status                         4
project_name                   0
boardapprovaldate           1504
board_approval_month        1504
closingdate                 3349
lendprojectcost              125
ibrdcommamt                    0
idacommamt                     0
totalamt                       0
grantamt                       0
borrower                    5919
impagency                   6097
url                            0
dtype: int64

In [63]:
#percentage of missing values
df.isnull().sum()/len(df)*100

id                           0.000000
regionname                   0.000000
countryname                  0.000000
prodline                     0.000000
lendinginstr                 1.348093
lendinginstrtype             1.348093
envassesmentcategorycode    31.844586
supplementprojectflg         0.290443
productlinetype              0.000000
projectstatusdisplay         0.021920
status                       0.021920
project_name                 0.000000
boardapprovaldate            8.241999
board_approval_month         8.241999
closingdate                 18.352696
lendprojectcost              0.685007
ibrdcommamt                  0.000000
idacommamt                   0.000000
totalamt                     0.000000
grantamt                     0.000000
borrower                    32.436431
impagency                   33.411881
url                          0.000000
dtype: float64

In [76]:
#fill missing values scikit learn
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')

df['lendinginstr'] = imputer.fit_transform(df[['lendinginstr']])
df['envassesmentcategorycode'] = imputer.fit_transform(df[['envassesmentcategorycode']])

In [42]:
#fill missing values with mode
df['lendinginstr'] = df['lendinginstr'].fillna(df['lendinginstr'].mode()[0])
df['lendinginstrtype'] = df['lendinginstrtype'].fillna(df['lendinginstrtype'].mode()[0])
df['envassesmentcategorycode'] = df['envassesmentcategorycode'].fillna(df['envassesmentcategorycode'].mode()[0])

In [43]:
#fix borrower, impagency column missing values with mode
df['borrower'] = df['borrower'].fillna(df['borrower'].mode()[0])
df['impagency'] = df['impagency'].fillna(df['impagency'].mode()[0])

In [51]:
#handle missing values in lendprojectcost, ibrdcommamt, idacommamt, totalamt, grantamt
df['lendprojectcost'] = df['lendprojectcost'].fillna(df['lendprojectcost'].mean())
df['ibrdcommamt'] = df['ibrdcommamt'].fillna(df['ibrdcommamt'].mean())
df['idacommamt'] = df['idacommamt'].fillna(df['idacommamt'].mean())
df['totalamt'] = df['totalamt'].fillna(df['totalamt'].mean())

In [53]:
#fill missing values in boardapprovaldate, board_approval_month, closingdate
df['boardapprovaldate'] = df['boardapprovaldate'].fillna(df['boardapprovaldate'].mode()[0])
df['board_approval_month'] = df['board_approval_month'].fillna(df['board_approval_month'].mode()[0])
df['closingdate'] = df['closingdate'].fillna(df['closingdate'].mode()[0])

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,status,project_name,boardapprovaldate,board_approval_month,closingdate,lendprojectcost,ibrdcommamt,idacommamt,totalamt,grantamt,borrower,impagency,url
0,P162228,Other,World,RE,Investment Project Financing,IN,C,N,L,Active,Active,Creating a Trade in Value-Added Database for ...,2018-06-28 00:00:00+00:00,June,NaT,500000.00,0.00,0.00,0.00,500000.00,EET,IIST,http://projects.worldbank.org/P162228?lang=en
1,P163962,Africa,Democratic Republic of the Congo,PE,Investment Project Financing,IN,B,N,L,Active,Active,Productive Inclusion Project,2018-06-28 00:00:00+00:00,June,2023-12-31 00:00:00+00:00,200000000.00,0.00,200000000.00,200000000.00,0.00,EET,IIST,http://projects.worldbank.org/P163962?lang=en
2,P167672,South Asia,People's Republic of Bangladesh,PE,Investment Project Financing,IN,B,Y,L,Active,Active,Additional Financing for Health Sector Support...,2018-06-28 00:00:00+00:00,June,NaT,50000000.00,0.00,58330000.00,58330000.00,0.00,EET,IIST,http://projects.worldbank.org/P167672?lang=en
3,P158768,South Asia,Islamic Republic of Afghanistan,PE,Investment Project Financing,IN,A,N,L,Active,Active,Public-Private Partnerships and Public Investm...,2018-06-27 00:00:00+00:00,June,2023-06-28 00:00:00+00:00,50000000.00,0.00,20000000.00,20000000.00,0.00,IIST,IIST,http://projects.worldbank.org/P158768?lang=en
4,P161364,Africa,Federal Republic of Nigeria,PE,Investment Project Financing,IN,B,N,L,Active,Active,Nigeria For Women Project,2018-06-27 00:00:00+00:00,June,2023-05-31 00:00:00+00:00,100000000.00,0.00,100000000.00,100000000.00,0.00,EET,IIST,http://projects.worldbank.org/P161364?lang=en

In [61]:
#export the cleaned data utf-8 encoding
df.to_csv('datasets-cleaned\projects_data_cleaned.csv', index=False, encoding='utf-8')